body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #aa00ff;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(46, 0, 82);
    padding: 20px;
    border-radius: 8px;
}

.icon {
    font-size: 50px;
}

.home-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: rgb(255, 71, 71);
    background-color: #fb0019;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #a71d2a;
}
